.spinner {
  display: flex;
  margin-bottom: 150px;
  animation: rotate 0.7s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen {
  z-index: 99999;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(228, 82, 25);
  font-size: 80px;
  color: white;
}