.home-search-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 175px;
  margin-bottom: 101px;
}

.home-search-prompt {
  margin-bottom: 50px;
}

.home-recipe-results-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.home-recipe-results {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  text-wrap: nowrap;
}

.home-recipe-results-icon {
  margin-right: 10px;
}

.home-recipe-results-count {
  font-size: 16px;
  font-weight: bold;
  display: none;
  margin-top: 2px;
  color: rgb(134, 38, 21);
  margin-right: 22px;
}

.home-recipe-panel {
  display: none;
  flex-direction: column;
  margin-top: 50px;
}

.discover-home {
  margin-top: 140px !important;
  margin-bottom: 40px !important;
}

.saved-home {
  margin-top: 55px !important;
  margin-bottom: -100px !important;
  display: none;
}

.sign-in-home {
  margin-top: 55px !important;
  margin-bottom: -100px !important;
  display: flex;
}

@media (max-width: 470px) {
  .home-search-prompt {
    margin-bottom: 64px;
  }
  .home-recipe-results {
    margin-left: 16px;
    font-size: 16px;
  }

  .home-recipe-results-count {
    font-size: 13px;
    margin-right: 16px;
  }

  .discover-home {
    font-size: 16px !important;
  }

  .saved-home {
    font-size: 16px !important;
  }

  .sign-in-home {
    font-size: 16px !important;
  }
}

@media (max-width: 345px) {
  .home-recipe-results-panel {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .home-recipe-results {
    margin-left: 0px;
    margin-right: 4px;
  }

  .home-recipe-results-count {
    margin-right: 0px;
  }
}