.home-search-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 100px;
}

.home-search-prompt {
  font-size: 35px;
  font-weight: 500;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.home-recipe-results {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.home-recipe-results-icon {
  margin-right: 10px;
}

.home-recipe-panel {
  display: none;
  flex-direction: column;
  margin-top: 50px;
}

.discover-home {
  margin-top: 120px !important;
  margin-bottom: 40px !important;
}

@media (max-width: 650px) {
    .home-search-prompt {
        font-size: 25px;
        margin-bottom: 64px;
    }
}

@media (max-width: 470px) {
  .home-recipe-results {
    font-size: 16px;
    text-align: left;
  }

}