.discover-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 175px;
  margin-bottom: 61px;
}

.discover-heading {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-heading-text {
  margin-bottom: 0px;
}

.refresh-button-text {
  margin-left: 6px;
  text-wrap: nowrap;
  margin-left: 10px;
}

.single-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.single-recipe-pane {
  margin-bottom: 30px;
}

.recipe-pane-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 22px;
}

@media (max-width: 470px) {
  .discover-heading {
    margin-bottom: 64px;
  }

  .discover-heading-text {
    font-size: 28px;
  }

  .discover-refresh-button {
    font-size: 16px !important;
    margin-left: 12px;
  }
}

.refreshing-icon {
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
