.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(235, 128, 79);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(228, 82, 25);
}

@media (max-width: 280px) {
  .header {
    justify-content: end !important;
  }
}

.left,
.right {
  display: flex;
}

.menu-icon {
  margin-right: 8px;
}

.caret-down-icon {
  font-size: 15px;
  justify-content: start;
  transition: transform 0.2s ease;
}

.caret-down-icon.rotate {
  transform: rotate(180deg);
}

.menu-panel {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease, top 0.2s ease; /* Adjust duration as needed */
  position: fixed;
  top: 65px;
  right: 20px;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  height: 130px;
  background-color: rgb(99, 35, 10);
  outline: 1px solid rgb(235, 128, 79);
  outline-offset: -1px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-panel.visible {
  opacity: 1;
  visibility: visible;
  top: 75px;
}

.menu-button {
  color: rgb(184, 115, 88);
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.menu-button:hover {
  color: white;
}

.menu-button-icon {
  margin-right: 10px;
}

.menu-button-icon-user {
  padding-right: 3px;
  padding-left: 1px;
}

.menu-button-icon-bookmark {
  padding-left: 3px;
  padding-right: 3px;
}

.menu-email {
  display: none;
  border-bottom: 1px solid rgb(133, 67, 37);
  padding-bottom: 10px;
  justify-content: center;
  overflow: hidden;
}

.menu-email:hover {
  cursor: default;
  color: rgb(184, 115, 88);
}
