.search-bar {
  display: inline-flex;
  align-items: center;
}

.search-bar-panel {
  display: inline-flex;
  align-items: center;
  background-color: rgb(99, 35, 10);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 35px;
}

.search-bar-panel:hover {
  outline: none;
  background-color: rgb(110, 40, 12);
}

.search-bar input {
  border: none;
  color: white;
  font-size: 18px;
  width: 450px;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  padding: 20px;
  padding-right: 8px;
  padding-left: 14px;
  cursor: text;
  border-radius: 35px;
}

.search-bar input::placeholder {
  color: rgb(184, 115, 88);
}

@media (max-width: 640px) {
  .search-bar-panel {
    width: 88%;
  }

  .search-bar {
    width: 88%;
  }

  .search-bar input {
    width: 88%;
  }
}

.search-bar-search-button {
  margin-left: 10px;
  margin-right: 0px;
  width: 45px;
}

.search-bar-clear-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: inherit;
  color: rgb(184, 115, 88);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 2px;
}

.search-bar-clear-button:hover {
  background-color: rgb(43, 22, 13);
}

@media (max-width: 470px) {
  .search-bar input {
    font-size: 16px;
  }
}

.loading-icon {
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
