.search-bar {
  display: inline-flex;
  align-items: center;
  background-color: rgb(99, 35, 10);
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 35px;
}

.search-bar:hover {
  outline: none;
  background-color: rgb(110, 40, 12);
}

.search-bar input {
  border: none;
  color: white;
  font-size: 18px;
  width: 450px;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  padding: 20px;
  padding-right: 8px;
  cursor: text;
  border-radius: 35px;
}

.search-bar input::placeholder {
  color: rgb(184, 115, 88);
}

@media (max-width: 650px) {
  .search-bar {
    width: 82%;
  }

  .search-bar input {
    width: 82%;
  }
}

.search-bar button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: inherit;
  color: rgb(184, 115, 88);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 40px;
}

.search-bar button:hover {
  background-color: rgb(43, 22, 13);
  border-radius: 20px;
}

.search-icon {
  font-size: 18px;
  color: rgb(184, 115, 88);
  margin-left: 5px;
}
