:root {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  background-color: rgb(228, 82, 25);
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.heading-text {
  font-size: 35px;
  font-weight: 500;
  color: white;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.heading-icon {
  margin-right: 18px;
  margin-bottom: -3px;
  color: white;
}

@media (max-width: 470px) {
  .heading-text {
    font-size: 28px;
  }

  .heading-icon {
    margin-right: 12px;
    margin-bottom: -2px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;

  outline: none;
  border: none;
  background-color: rgb(163, 52, 0);
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;

  font-weight: normal;
  font-size: 18px;
  color: white;
  border-radius: 25px;

  letter-spacing: 1px;

  cursor: pointer;

  transition: transform 0.2s ease;
}

.button:hover {
  background-color: rgb(138, 44, 0);
  transform: scale(1.07);
}

.button:active {
  transform: scale(1);
}

.button-icon {
  margin-right: 10px;
  color: rgb(228, 228, 228);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(235, 128, 79);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgb(228, 82, 25);
}