.recipe-tile {
  background-color: rgb(185, 75, 32);
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 260px;
  transition: transform 0.3s;
  cursor: pointer;
  outline-offset: -1px;
  border-radius: 10px;
  z-index: 100;
  position: relative;
}

.recipe-tile:hover {
  transform: scale(1.05);
  outline: 1px solid rgb(235, 128, 79);
  outline-offset: 5px;
}

.recipe-tile-title {
  font-size: 16px;
  color: white;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 4px;
}

.recipe-tile-source {
  font-size: 14px;
  color: rgb(218, 175, 167);
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.recipe-tile-image {
  background-color: rgb(105, 38, 11);
  min-height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.recipe-tile-save {
  position: absolute;
  right: 0px;
  z-index: 200;
  border-radius: 40px;
  font-size: 18px;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0 0 0 1.5px rgb(240, 163, 127);
  opacity: 0.7;
}

@media (max-width: 470px) {
  .recipe-tile {
    width: 150px;
    min-height: 196px;
  }

  .recipe-tile-title {
    font-size: 12px;
    padding: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
  }

  .recipe-tile-source {
    font-size: 11px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
  }

  .recipe-tile-image {
    min-height: 150px;
  }

  .recipe-tile-save {
    font-size: 14px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 8px;
    margin-top: 8px;
  }
}
